//colors
// $primary: #FFFFFF;
// $secondary:black; 
// $tertiary: #C39C90; 
// $fluo: #C6F700;

    $black: #000000;
    $extradark: #d6d0c8;
    $dark: #e2dfd8;
    $medium: #ebebe7;
    $light: #f6f1ec;
    $extralight: #f8f6f3;
    $fontsize: 18px;